asyncio==3.4.3 ; python_version >= "3.9" and python_version < "4.0"
pydash==7.0.3 ; python_version >= "3.9" and python_version < "4.0"
pyyaml==6.0 ; python_version >= "3.9" and python_version < "4.0"
typing-extensions==4.5.0 ; python_version >= "3.9" and python_version < "4.0"
